.all-transactions-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.add-log:before{
    content:"";
    border-radius: 100%;
    padding:10px;
    background-color: tomato;
    position: absolute;
    left:4%
}

.sell-log:before{
    content:"";
    border-radius: 100%;
    padding:10px;
    background-color: rgb(71, 255, 86);
    position: absolute;
    left:4%
}