.header-container{
    width: 100%;
    height: 100px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/header_background.jpg");
}

.header-container h1{
    color:white;
    flex-basis: 90%;
    text-align: center;
}

.logout-button{
    background-color: rgb(245, 80, 80);
    color:white;
    padding:10px;
    font-size: 15px;
    border:none;
    border-radius: 10px;
}